* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divs-M {
  width: 100%;
  height: 878px;
  background-color: #171b1b;
  padding: 20px 135px 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.text-1M {
  color: #fff;
  font-family: "Ultra", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.three-textM {
  display: flex;
  gap: 20px;
}

.headerM {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.h2-M {
  color: #fff;
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.gap-M {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-divsM {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 72px;
}

.contact-M {
  width: 138px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid white;
  background-color: #171b1b;
  color: white;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

.h1-M {
  color: #fff;
  font-family: "Oswald";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fresh-M {
  color: #fff;
  font-family: "Ultra";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.lsttext-M {
  width: 470px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.two-divM {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 35px;
}

.three-divM {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 27px;
}

.img-M {
  background-image: url(./images/Bakery_1440_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0%;
  left: 60%;
  transform: translateX(-50%);
  z-index: 1;
}

.img1-M {
  position: absolute;
  right: 0px;
  top: 210px;
}

h1 {
  letter-spacing: 1px;
}

.img-2M {
  width: 310px;
  height: 140px;
  position: absolute;
  right: 40%;
  top: calc(878px - 140px);
}

.Shape-M {
  position: absolute;
  top: 180px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 1;
}

.xorbalii-M {
  position: absolute;
  top: 240px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 2;
}

.namcxvari-M {
  position: absolute;
  top: 110px;
  left: calc(54% + 135px);
  transform: translateX(-50%);
  z-index: 4;
}

.wre-M {
  position: absolute;
  top: 180px;
  left: 75%;
  transform: translateX(-50%);
  z-index: 3;
}

.Oval-M {
  position: absolute;
  top: 260px;
  left: 73%;
  transform: translateX(-50%);
  z-index: 5;
}

.woman-M {
  position: absolute;
  top: 240px;
  left: 73%;
  transform: translateX(-50%);
  z-index: 6;
  height: 380px;
  width: 290px;
  border-radius: 30px;
}

@media (max-width: 520px) and (min-width: 350px) {
  .img-2M {
    display: none;
  }

  .gap-M {
    display: flex;
  }

  .divs-M {
    width: 100%;
    height: 1010px;
    background-color: #171b1b;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .img-M,
  .img1-M,
  .img2-M {
    display: none;
  }

  .contact-M {
    background-color: #f5ae5c;
    color: black;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 90px;
    font-size: 0;
    background-image: url("./images/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .three-textM {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #171b1b;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 15px;
  }

  .three-textM.show {
    display: flex;
  }

  .contact-M:before {
    content: "";
    visibility: visible;
  }

  .header {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .divs-M {
    display: flex;
    flex-direction: column;
    gap: 450px;
  }
  .fresh-M {
    color: #fff;
    font-family: "Ultra";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
  }

  .Shape-M {
    position: absolute;
    top: 230px;
    left: 140px;
    transform: translateX(-50%);
    z-index: 1;
    width: 220px;
    height: 220px;
  }

  .xorbalii-M {
    position: absolute;
    top: 240px;
    left: 24%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .namcxvari-M {
    position: absolute;
    top: 140px;
    left: calc(4% + 125px);
    transform: translateX(-50%);
    z-index: 4;
    width: 230px;
    height: 230px;
  }

  .wre-M {
    position: absolute;
    top: 190px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 3;
    width: 250px;
    height: 200px;
  }

  .Oval-M {
    position: absolute;
    top: 250px;
    left: 56%;
    transform: translateX(-50%);
    z-index: 5;
    width: 260px;
    height: 250px;
  }

  .woman-M {
    position: absolute;
    top: 255px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 6;
    height: 220px;
    width: 150px;
    border-radius: 30px;
  }

  .two-divM {
    width: 100%;
    height: 0px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    flex-direction: column;
  }

  .fresh-M {
    color: #fff;
    font-family: Ultra;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
  }

  .lsttext-M {
    width: 329px;
  }

  .three-divM {
    display: flex;
    flex-direction: column;
    /* gap: 14px; */
  }
}
