@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1 {
  letter-spacing: 1px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  width: 100%;
  height: 450px;
  background-color: rgba(23, 27, 27, 1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 57px 135px 37px;
}

.bkrK {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.bkrK h1 {
  color: #fff;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  padding-right: 150px;
}

.menuK {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

h6 {
  color: #fff;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menuK p {
  color: #fff;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.socialK {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.lineK {
  width: 100%;
  height: 1px;
  opacity: 0.079;
  background: #fff;
}

.termsK {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.termsK > p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.termsK01 {
  width: 255px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.termsK01 p {
  color: #fff;
  text-align: right;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.kath {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.socialMediaK {
  cursor: pointer;
}

.K04 {
  position: absolute;
  width: 196px;
  height: 53px;
  background-image: url("imgK/04k.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(450px - 53px);
  left: 42%;
}

.K05 {
  position: absolute;
  width: 55px;
  height: 173px;
  background-image: url("./imgK/k05.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 2%;
  left: calc(100% - 55px);
}

@media (max-width: 520px) and (min-width: 350px) {
  footer {
    height: 1111px;
    align-items: center;
    padding: 57px 44px 85px;
  }

  .bkrK {
    height: 700px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .bkrK h1 {
    padding-right: 0;
  }

  .menuK {
    align-items: center;
  }

  .K04 {
    top: calc(1111px - 53px);
    left: 30%;
  }

  .socialK {
    align-items: center;
  }

  .termsK {
    height: 130px;
    align-items: flex-start;
    flex-direction: column;
  }

  .termsK01 {
    width: 100%;
  }

  .termsK > p {
    font-size: 18px;
    text-align: center;
  }

  .kath {
    height: 200px;
    align-items: center;
  }
}
