@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1 {
  letter-spacing: 1px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.process {
  width: 100%;
  height: 2110px;
  background-color: rgba(23, 27, 27, 1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 80px 135px 155px;
}

.K01 {
  width: 222px;
  height: 101px;
  position: absolute;
  background-image: url("./imgk/01K.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0%;
  left: 0%;
}

.headerK1 {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.headerK1 p {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.headerK1 h1 {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Ultra;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.orderK {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.boxK01 {
  width: 284px;
  height: 384px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 40px 30px;
}

.contactK h1 {
  height: 70px;
  color: #171b1b;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.contactK p {
  color: rgba(51, 51, 51, 0.5);
  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.pK {
  color: #171b1b;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.boxK01:hover {
  width: 302px;
  height: 416px;
  background-color: #9ead8d;
  background-image: url("/imgk/Bitmap\ \(18\).png");
  background-repeat: no-repeat;
  background-size: calc(180px);
  background-position: 100% 0%;
  cursor: pointer;
  padding: 50px 30px;
}

.K02 {
  width: 160px;
  height: 190px;
  position: absolute;
  background-image: url("./imgk/02K.ong.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 110%;
  left: calc(100% - 160px);
}

.recipes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.headerK2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerK2 p {
  color: #fff;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 150px;
}

.headerK2 h1 {
  width: 650px;
  color: #fff;
  font-family: Ultra;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 60px;
}

.orderK1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}

.deliciousK {
  width: 570px;
  height: 736px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.deliciousK > img {
  width: 570px;
  height: 496px;
}

.bottomK1 {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 33px 48px;
}

.bottomK1 > p {
  color: #171b1b;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.bottomK1 > h1 {
  color: #171b1b;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.lastTimeK {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}

.lastTimeK p {
  width: 322px;
  color: rgba(51, 51, 51, 0.5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.lastTimeK1 {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.lastTimeK1 p {
  width: max-content;
  color: #171b1b;
  text-align: right;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.lastTimeK1 img {
  width: 22px;
  height: 22px;
}

.fourK {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.bakeryK1 {
  width: 270px;
  height: 352px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.bakeryK1 > img {
  width: 270px;
  height: 208px;
}

.bottomK {
  width: 100%;
  height: calc(352px - 208px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 28px;
}

.timeK > p {
  width: 40px;
  color: rgba(51, 51, 51, 0.5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.timek2 p {
  width: max-content;
  color: #171b1b;
  text-align: right;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.bottomK > p {
  color: #171b1b;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.timeK {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.timek2 {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.imgClock {
  width: 16px;
  height: 16px;
}

.buttonK {
  width: 170px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(23, 27, 27, 1);
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
}

.K03 {
  width: 152px;
  height: 136px;
  position: absolute;
  background-image: url("./imgk/03K.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(2110px - 136px);
  left: 0%;
}

@media (max-width: 520px) and (min-width: 350px) {
  .process {
    width: 100%;
    height: 4910px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 20px 170px;
  }

  .headerK1 {
    font-size: 40px;
    line-height: 48px;
  }

  .orderK {
    flex-direction: column;
  }

  .K02 {
    top: 300%;
  }

  .K03 {
    top: calc(4910px - 136px);
  }

  .headerK2 h1 {
    width: 247px;
    color: #fff;
    font-family: Ultra;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  .deliciousK {
    width: 329px;
    height: 608px;
  }

  .deliciousK > img {
    width: 329px;
    height: 286px;
  }

  .bottomK1 {
    width: 100%;
    height: calc(608px - 286px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 28px;
  }

  .lastTimeK1 {
    gap: 5px;
  }

  .orderK1 {
    flex-direction: column;
  }

  .bakeryK1 {
    width: 329px;
    height: 368px;
  }

  .bakeryK1 > img {
    width: 329px;
    height: 253px;
  }

  .bottomK {
    width: 100%;
    height: calc(368px - 253px);
    padding: 20px;
  }
}
